@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

p, .font-normal {
    font-size: 16px;
}

.font-large {
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.grey {
    color: #C1C2C4;
}

body.login-body, body.daftar-body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 2;
    background: url(../../assets/img/background.jpg) repeat center; 
}


.main-page {
    background: radial-gradient(#00000070, black);
    width: 100%;
    height: 100vh;
}

main#login-page, .main-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container, .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 529px;
    height: auto;
    padding: 40px 0;
    background-color: #181A1CD6;
    border-radius: 16px;
    color: white;
    gap: 10px;
}

#login-container header, .main-container header {
    display: flex;
    flex-direction: column;
    align-items: center;
gap: 15px;
}

#login-container header p, .main-container header p {
    margin-top: -30px;
}

#login-form, .main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 0 8%;
}

.form-group {
    width: 100%;
}

.form-group-etc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -13px;
    margin-bottom: 10px;
}

.form-group-etc a {
    color: #ffffff;
}

.form-group input {
    width: 100%;
    height: auto;
    border: 1px solid #E7E3FC3B;
    padding: 14px 20px 14px 20px;
    border-radius: 24px;
    transition: all 0.3s ease;
    background: transparent;
    color: #ffffff;
}

.form-group input:hover {
    border: 1px solid #ffffff;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#button-submit {
    width: 100%;
    border: 1px solid #E7E3FC3B;
    padding: 14px 20px 14px 20px;
    border-radius: 24px;
    transition: all 0.3s ease;
    background: #3D4142;
    color: white;
    cursor: pointer;
}

#button-submit:hover {
    background: #181A1CD6;
    border: 1px solid #ffffff;
}

#button-google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #E7E3FC3B;
    padding: 14px 20px 14px 20px;
    border-radius: 24px;
    transition: all 0.3s ease;
    background: transparent;
    color: white;
    cursor: pointer;
}


#button-google:hover {
    background: #E7E3FC3B;
    border: 1px solid #ffffff;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    #login-container, .main-container {
        width: 306px;
        height: 384px;
        gap: 3px;
        padding: 20px 0;
    }

    #login-container img, .main-container img {
        width: 94px;
        height: 24px
    }

    h3 {
        font-size: 18px;
    }

    p, .font-normal {
        font-size: 10px;
    }

    a {
        font-size: 10px;
    }

    .font-large {
        font-size: 10px;
        font-weight: 500;
    }

    #login-form, .main-form {
        gap: 5px;
    }

    .form-group input {
        padding: 8.09px 11.55px 8.09px 11.55px;
    }

    #login-container header, .main-container header {
        gap: 10px;
    }

    #login-container header p, .main-container header p {
        margin-top: -18px;
    }

    #button-submit, #button-google {
        padding: 8.09px 11.55px 8.09px 11.55px;
    }

    .form-group-etc {
        margin-top: -5px;
        margin-bottom: 8px;
    }

    #button-google .google-logo {
        width: 10px;
        height: 10px;
    }

}

/* index.html */

body.index-body {
    background-color: #181A1C;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #ffffff;
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #181A1C 0%,#181a1c59 80% , transparent 100%);
    padding: 1rem 4rem;
    gap: 4rem;
    font-size: 1.1rem;
    width: 100%;
    height: 80px;
}

.navbar a {
    display: flex;
    align-items: center;
}

a img {
    height: 2rem;
}

.nav-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.nav-item {
    position: relative;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    display: block;
    transition: all 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.1);
    background: radial-gradient(#00000080, transparent);
    border-radius: 30%;

}

#accountDropdown {
    gap: 1rem;
}

.account-img {
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    min-width: 160px;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    background: #ffffff url("../../assets/img/hero.png") no-repeat center center / cover;
    height: 680px;
    position: absolute;
    top: 0;
    width: 100%;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    height: 100%;
    padding: 0 4rem;
    gap: 2rem;
    background: linear-gradient(180deg, transparent 0%, #181a1ce0 50%, #181a1c 95%, #181A1C 100%);
}

.hero-description {
    text-align: left;
}
.hero-description p {
    width: 60%;
}

.hero-cta {
    display: flex;
    gap: 2rem;
    padding-bottom: 3.5rem;
}

.hero-cta button {
    padding: 0.8rem 1.5rem;
    background-color: #0F1E93;
    color: #ffffff;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}
.hero-cta a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1.5rem;
    background-color: #22282A;
    border-radius: 45px;
}
.hero-cta p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.8rem;
    border-radius: 45px;
    border: 1px solid #ffffff;
}
.hero-cta img {
    height: 20px;
}
#volume-logo {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0.8rem 0.8rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    right: 5rem;
    background-color: transparent;
}
#volume-logo img {
    height: 18px;
}

#movie-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 43rem;
    padding: 0 4rem;
}

#continue-watch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.movie-list img {
    height: 12vw;
}

.card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -3rem;
    padding: 0 1rem;
}